// CONTROLS
.controls {
  .centered {
    text-align: center;
    margin-top: 1em;
  }
}

// VISUALIZATION
.bar {
  rect {
    fill: steelblue;
  }
  text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    fill: #333;
    text-anchor: middle;
    &.backer {
      stroke: white;
      stroke-width: 2px;
    }
  }
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis.y line {
  stroke-dasharray: 10, 5;
  stroke: white;
  fill: none;
}
