{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block main %}
{{ super() }}
<div class="container">
  <div class="story row">
    <div class="col-xs-12">
      <h3>This is what happened</h3>
      <p>We could have some intro text here about the study. We could have some intro text here about the study. We could have some intro text here about the study. We could have some intro text here about the study.</p>
      <br>
      <br>
      <p>Color can be changed!</p>
      <br>
    </div>
  </div>
  <div class="row col-xs-12 lower">
    <div class="col-xs-2 controls">
      <div class="row filter-controls">
        <div class="row">
          <span class="kalam">Filter by grade or school district:</br></span>
        </div>
        <select class="filter" data-placeholder="Select filter" multiple tab-index="-1">
          {% for group, options in chosen_options.iteritems() %}
          <optgroup label="{{group}}">
          {% for option in options %}
          <option value="{{option}}">{{option}}</option>
          {% endfor %}
          </optgroup>
          {% endfor %}
        </select>
      </div>
      <div class="order-controls">
      <div class="row">
        <span class="kalam">Sort by most frequent responses before or after:</br></span>
      </div>
      <div class="row">
        <div id="before-change-after" class="btn-group" data-toggle="buttons">
          <label class="btn btn-danger active">
            <input type="radio" autocomplete="off" checked>before
          </label>
          <label class="btn btn-danger">
            <input type="radio" autocomplete="off"> after
          </label>
        </div>
      </div>
      <div class="row second">
        <span class="kalam">Change order:</br></span>
      </div>
      <div class="row">
        <div class="btn-group bottom" id="increasing-decreasing" data-toggle="buttons">
          <label class="btn btn-danger">
            <input type="radio" autocomplete="off">
             <!-- <span class="glyphicon glyphicon-sort-by-attributes"></span>  -->
            increasing
          </label>
          <label class="btn btn-danger active">
            <input type="radio" autocomplete="off" checked>
            <!-- <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>  -->
            decreasing
          </label>
        </div>
      </div>
      </div>
      <div class="row click-instructions">
        <span class="kalam">Click on the teal bars for specific responses within each category.</br></span>
        <img style="margin-left:100px;" width="110px" height="50px" src={{ url_for('static', filename='img/pencil-arrow-skinny.png') }}></img>
      </div>
    </div>
    <div class="col-xs-10 visualization">
      <div class="row">
      <div class="col-xs-4">
        <h3>Beginning Question</h3>
        <h4>"In general, what are some of the main things that influence how you use EM on a day-to-day basis?"</h4>
      </div>
      <div class="col-xs-4 centered">
        <h3>45-Minute Interview</h3>
        <!-- Meeting Filled icon by Icons8 -->
        <img src="https://cdn.icons8.com/iOS7/PNG/100/Time_And_Date/meeting_filled-100.png" title="Meeting Filled" width="70"</img>
      </div>
      <div class="col-xs-4 right">
        <h3>Ending Question</h3>
        <h4>"Out of everything we’ve talked about, what would you say are the most important two or three things that influence how you use EM?  Why?"</h4>
      </div>
    </div>
      <div class="row axis-labels">
        <div class="col-xs-4">
          <div class="left">
            <p># of Responses at Beginning</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="centered">
            <p>Response Categories</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="right">
            <p># of Responses at End</p>
          </div>
        </div>
      </div>
      <div class="row chart">
        <svg id="x-axis-before"></svg>
        <svg id="x-axis-after"></svg>
        <div id="barchart" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}


{% block cdn_js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
{% endblock cdn_js %}

{% block js %}
<script>
  var raw_data = {{raw_data|tojson}};
  var categories = {{categories|tojson}};
</script>
{% raw %}
<!-- Collapse Template -->
<script id="collapse-template" type="text/x-handlebars-template">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{index}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{index}}" aria-expanded="false" aria-controls="collapse-{{index}}">
          <div id="main-category-{{index}}" ></div>
        </a>
      </h4>
    </div>
    <div id="collapse-{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{index}}">
      <div class="panel-body">
        <div id="subcategory-{{index}}"></div>
      </div>
    </div>
  </div>
</script>

<!-- Mouseover Templates -->
<script id="main-category-tooltip-template" type="text/x-handlebars-template">
  <h4>{{name}}</h4>
  <p>Before: {{before}}  After: {{after}}</p>
</script>

<script id="subcategory-tooltip-template" type="text/x-handlebars-template">
  <h4>{{name}}</h4>
  <p>Before: {{before}}  After: {{after}}</p>
  <hr>
  <p>{{description}}</p>
</script>
{% endraw %}
<script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
{% endblock js %}
