{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block main %}
{{ super() }}
<div class="container">
  <div class="row controls">
    <div class="col-md-6">
      <select class="filter" data-placeholder="Choose filter" multiple tab-index="-1">
        {% for group, options in chosen_options.iteritems() %}
        <optgroup label="{{group}}">
          {% for option in options %}
          <option value="{{option}}">{{option}}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6" id="ordering">
      <div class="centered">
        <div id="before-change-after" class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off">before
          </label>
          <label class="btn btn-primary active">
            <input type="radio" autocomplete="off" checked> change
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off"> after
          </label>
        </div>
      </div>
      <div class="centered">
        <div id="increasing-decreasing" class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" autocomplete="off" checked>
            <span class="glyphicon glyphicon-sort-by-attributes"></span> increasing
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span> decreasing
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row visualization">
    <div id="barchart"></div>
  </div>
</div>
{% endblock main %}


{% block cdn_js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
{% endblock cdn_js %}

{% block js %}
<script>
  var raw_data = {{raw_data|tojson}};
  var categories = {{categories|tojson}};
</script>
<script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
{% endblock js %}
