footer.footer {
  img {
    height: 1em;
  }
}

body {
  padding-top: 125px;
  padding-bottom:0px;
  margin:0px;
}

.navbar{
  margin-bottom: -30px;
  background-color: #fff;
  border: 0px dotted #fff;
  border-bottom: 1px solid #E8E8E8;
  // .button{
  //   .btn-info {
  //       background: #c0392b;
  //       border-color: #c0392b;
  //   }
  //   .btn-info:hover, .btn-info:focus {
  //       background: #e74c3c;
  //   }
  // }
}

.nav-center {
    padding-top: 15px;
    padding-bottom: 15px;
    margin:0;
    text-align:center;
    float:left;
}

.nav-right {
  padding-top: 45px;
    margin:0;
    text-align:right;
    float:right;
}

h1 {
  font-family: 'Roboto', sans-serif;
}
