$big-label-size: 14px;
$small-label-size: 12px;

// CONTROLS
.controls {
  .centered {
    text-align: center;
    margin-top: 1em;
  }
  .filter {
    width: 240px;
  }
}

// VISUALIZATION
.bar, .sub-bar  {
  text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $small-label-size;
    fill: #333;
    text-anchor: start;
    &.backer {
      stroke: white;
      stroke-width: 3px;
    }
  }
}

.panel-default> {
  border-color: #fff;
  .panel-heading{
    background-color:#fff;
    padding: 5px 0px;
  }
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 5px 0px;
  padding: 5px 0px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.xLabel{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: #333;
  font-weight: bold;
}

//tooltips
.d3-tip {
  max-width: 200px;

  /* Northward tooltips */
  &.n:after {
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
  }

  h4, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  h4 {
    font-size: $big-label-size;
  }
  p {
    font-size: $small-label-size;
    line-height: 1.5;
  }
  hr {
    border: 0;
    height: 1px;
    background-color: #999;
    margin: {
      top: 0.5em;
      bottom: 0.5em;
    }
    padding: 0;
  }
}
