$big-label-size: 16px;
$small-label-size: 12px;

//TITLE
.title{
  .centered {
    text-align: center;
  }
  .btn-info {
      background: #008080;
      border-color: #008080;
  }
  .btn-info:hover, .btn-info:focus {
      background: #5F9F9F;
  }
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// CONTROLS
.controls {
  .ordering {
    text-align: right;
    .bottom {
      margin-top: 0.5em;
    }
  }

  .filter {
    width: 240px;
  }
}



.btn {
    border-radius: 1px;
    border-color: #CD7F32;
}

.btn-primary {
    background: #E8A317;
    color: #ffffff;
    border-color: #CD7F32;
}

.btn-primary:hover, .btn-primary:focus {
    background: #FFC125;
    border-color: #CD7F32;
}

.btn-primary:active, .btn-primary.active {
    background: #CD7F32;
    box-shadow: none;
    border-color: #CD7F32;
}

// VISUALIZATION
.bar, .sub-bar  {
  text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $big-label-size;
    fill: #333;
    text-anchor: middle;
    &.backer {
      stroke: white;
      stroke-width: 3px;
    }
  }
}

.panel-default> {
  border-color: #fff;
  .panel-heading{
    background-color:#fff;
    padding: 5px 0px;
  }
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 5px 0px;
  padding: 5px 0px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.xLabel{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: #333;
  font-weight: bold;
}

//tooltips
.d3-tip {
  max-width: 200px;

  /* Northward tooltips */
  &.n:after {
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
  }

  h4, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  h4 {
    font-size: $big-label-size;
  }
  p {
    font-size: $small-label-size;
    line-height: 1.5;
  }
  hr {
    border: 0;
    height: 1px;
    background-color: #999;
    margin: {
      top: 0.5em;
      bottom: 0.5em;
    }
    padding: 0;
  }
}

.story{
  background-color: #E8E8E8;
  margin: 0px -80px 10px;
  padding: 10px 80px;
}

.details{
  padding: 0px 0px;
}
